In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [11]:
vgs = pd.read_csv("imdb-videogames.csv")

In [12]:
vgs.iloc[0]

Unnamed: 0                                                     0
name                                                  Spider-Man
url            https://www.imdb.com/title/tt5807780/?ref_=adv...
year                                                      2018.0
certificate                                                    T
rating                                                       9.2
votes                                                     20,759
plot           When a new villain threatens New York City, Pe...
Action                                                      True
Adventure                                                   True
Comedy                                                     False
Crime                                                      False
Family                                                     False
Fantasy                                                     True
Mystery                                                    False
Sci-Fi                                                     False
Thriller                                                   False
Name: 0, dtype: object

In [13]:
vgs.head(2)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False

In [19]:
video_games = vgs[['Unnamed: 0', 'name', 'plot', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller']]
video_games

,Unnamed: 0,name,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,"When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,"After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
20798,20798,"Enjoy Your Power, Enjoy Your Choice",Add a Plot,False,False,False,False,False,False,False,False,True
20799,20799,RedSun2020,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20800,20800,Shutter,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20801,20801,The Music Machine,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20802,20802,Cryptic,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

In [15]:
video_games.isnull().sum()

Unnamed: 0    0
name          0
plot          0
Action        0
Adventure     0
Comedy        0
Crime         0
Family        0
Fantasy       0
Mystery       0
Sci-Fi        0
Thriller      0
dtype: int64

In [85]:
video_games.duplicated().sum()

TypeError: unhashable type: 'list'

In [20]:
def get_genres(row):
    genres = []
    if row['Action']:
        genres.append('Action')
    if row['Adventure']:
        genres.append('Adventure')
    if row['Comedy']:
        genres.append('Comedy')
    if row['Crime']:
        genres.append('Crime')
    if row['Family']:
        genres.append('Family')
    if row['Fantasy']:
        genres.append('Fantasy')
    if row['Mystery']:
        genres.append('Mystery')
    if row['Sci-Fi']:
        genres.append('Sci-Fi')
    if row['Thriller']:
        genres.append('Thriller')
    return genres

video_games['genres'] = video_games.apply(get_genres, axis=1)

C:\Users\codyp\AppData\Local\Temp\ipykernel_9708\4036074706.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  video_games['genres'] = video_games.apply(get_genres, axis=1)

In [21]:
video_games

,Unnamed: 0,name,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller,genres
0,0,Spider-Man,"When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False,"[Action, Adventure, Fantasy]"
1,1,Red Dead Redemption II,Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False,"[Action, Adventure, Crime]"
2,2,Grand Theft Auto V,Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False,"[Action, Crime]"
3,3,God of War,"After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False,"[Action, Adventure]"
4,4,Uncharted 4: A Thief's End,Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False,"[Action, Adventure]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20798,20798,"Enjoy Your Power, Enjoy Your Choice",Add a Plot,False,False,False,False,False,False,False,False,True,[Thriller]
20799,20799,RedSun2020,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True,[Thriller]
20800,20800,Shutter,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True,[Thriller]
20801,20801,The Music Machine,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True,[Thriller]
20802,20802,Cryptic,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True,[Thriller]

In [25]:
video_games.drop('Action')

KeyError: "['Action'] not found in axis"

In [24]:
video_games

,Unnamed: 0,name,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller,genres
0,0,Spider-Man,"When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False,"Action, Adventure, Fantasy"
1,1,Red Dead Redemption II,Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False,"Action, Adventure, Crime"
2,2,Grand Theft Auto V,Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False,"Action, Crime"
3,3,God of War,"After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False,"Action, Adventure"
4,4,Uncharted 4: A Thief's End,Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False,"Action, Adventure"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20798,20798,"Enjoy Your Power, Enjoy Your Choice",Add a Plot,False,False,False,False,False,False,False,False,True,Thriller
20799,20799,RedSun2020,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True,Thriller
20800,20800,Shutter,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True,Thriller
20801,20801,The Music Machine,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True,Thriller
20802,20802,Cryptic,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True,Thriller

In [22]:
video_games = video_games.drop(columns=['Action', 'Adventure', 'Comedy', 'Crime', 'Family','Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'])

In [23]:
video_games

,Unnamed: 0,name,plot,genres
0,0,Spider-Man,"When a new villain threatens New York City, Pe...","[Action, Adventure, Fantasy]"
1,1,Red Dead Redemption II,Amidst the decline of the Wild West at the tur...,"[Action, Adventure, Crime]"
2,2,Grand Theft Auto V,Three very different criminals team up for a s...,"[Action, Crime]"
3,3,God of War,"After wiping out the gods of Mount Olympus, Kr...","[Action, Adventure]"
4,4,Uncharted 4: A Thief's End,Thrown back into the dangerous underworld he'd...,"[Action, Adventure]"
...,...,...,...,...
20798,20798,"Enjoy Your Power, Enjoy Your Choice",Add a Plot,[Thriller]
20799,20799,RedSun2020,Joseph gets kidnapped and it's the player's jo...,[Thriller]
20800,20800,Shutter,A tech support man who uses a drone to investi...,[Thriller]
20801,20801,The Music Machine,A young teenage girl and the ghost of a dead m...,[Thriller]
20802,20802,Cryptic,Kidnapped by an insane man and dragged into a ...,[Thriller]

In [24]:
video_games['plot'] = video_games['plot'].apply(lambda x:x.split())

In [25]:
video_games.head(2)

,Unnamed: 0,name,plot,genres
0,0,Spider-Man,"[When, a, new, villain, threatens, New, York, ...","[Action, Adventure, Fantasy]"
1,1,Red Dead Redemption II,"[Amidst, the, decline, of, the, Wild, West, at...","[Action, Adventure, Crime]"

In [26]:
video_games['tags'] = video_games['plot'] + video_games['genres']
video_games.head()

,Unnamed: 0,name,plot,genres,tags
0,0,Spider-Man,"[When, a, new, villain, threatens, New, York, ...","[Action, Adventure, Fantasy]","[When, a, new, villain, threatens, New, York, ..."
1,1,Red Dead Redemption II,"[Amidst, the, decline, of, the, Wild, West, at...","[Action, Adventure, Crime]","[Amidst, the, decline, of, the, Wild, West, at..."
2,2,Grand Theft Auto V,"[Three, very, different, criminals, team, up, ...","[Action, Crime]","[Three, very, different, criminals, team, up, ..."
3,3,God of War,"[After, wiping, out, the, gods, of, Mount, Oly...","[Action, Adventure]","[After, wiping, out, the, gods, of, Mount, Oly..."
4,4,Uncharted 4: A Thief's End,"[Thrown, back, into, the, dangerous, underworl...","[Action, Adventure]","[Thrown, back, into, the, dangerous, underworl..."

In [27]:
new_df = video_games[['name','tags']]

In [28]:
new_df.head()

,name,tags
0,Spider-Man,"[When, a, new, villain, threatens, New, York, ..."
1,Red Dead Redemption II,"[Amidst, the, decline, of, the, Wild, West, at..."
2,Grand Theft Auto V,"[Three, very, different, criminals, team, up, ..."
3,God of War,"[After, wiping, out, the, gods, of, Mount, Oly..."
4,Uncharted 4: A Thief's End,"[Thrown, back, into, the, dangerous, underworl..."

In [29]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()

C:\Users\codyp\AppData\Local\Temp\ipykernel_9708\1955922539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

,name,tags
0,Spider-Man,"When a new villain threatens New York City, Pe..."
1,Red Dead Redemption II,Amidst the decline of the Wild West at the tur...
2,Grand Theft Auto V,Three very different criminals team up for a s...
3,God of War,"After wiping out the gods of Mount Olympus, Kr..."
4,Uncharted 4: A Thief's End,Thrown back into the dangerous underworld he'd...

In [30]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())
new_df.head()

C:\Users\codyp\AppData\Local\Temp\ipykernel_9708\842480936.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

,name,tags
0,Spider-Man,"when a new villain threatens new york city, pe..."
1,Red Dead Redemption II,amidst the decline of the wild west at the tur...
2,Grand Theft Auto V,three very different criminals team up for a s...
3,God of War,"after wiping out the gods of mount olympus, kr..."
4,Uncharted 4: A Thief's End,thrown back into the dangerous underworld he'd...

In [2]:
import nltk
from nltk.stem import PorterStemmer

In [3]:
ps = PorterStemmer()

In [4]:
def stems(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [31]:
new_df['tags'] = new_df['tags'].apply(stems)

C:\Users\codyp\AppData\Local\Temp\ipykernel_9708\3973021881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

In [33]:
new_df.iloc[0]['tags']

"when a new villain threaten new york city, peter parker and spider-man' world collide. to save the citi and those he loves, he must rise up and be greater. action adventur fantasi"

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [36]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [38]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(20803, 5000))

In [39]:
from sklearn.metrics.pairwise import cosine_similarity

In [40]:
similarity = cosine_similarity(vector)

In [41]:
similarity

array([[1.        , 0.1028689 , 0.11268723, ..., 0.06900656, 0.06900656,
        0.05455447],
       [0.1028689 , 1.        , 0.12171612, ..., 0.        , 0.        ,
        0.05892557],
       [0.11268723, 0.12171612, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.06900656, 0.        , 0.        , ..., 1.        , 0.2       ,
        0.15811388],
       [0.06900656, 0.        , 0.        , ..., 0.2       , 1.        ,
        0.15811388],
       [0.05455447, 0.05892557, 0.        , ..., 0.15811388, 0.15811388,
        1.        ]], shape=(20803, 20803))

In [43]:
similarity.shape

(20803, 20803)

In [52]:
new_df[new_df['name'] == "Spider-Man"].index[0]

np.int64(0)

In [67]:
def recommend(video_game):
    index = new_df[new_df['name'] == video_game].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key = lambda x:x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]]['name'])

In [70]:
recommend('Batman')

Batman
The Adventures of Batman & Robin
The Two of Us
The Adventures of Batman & Robin
Batman Forever: The Arcade Game

In [62]:
new_df.iloc[10000]

name                                           Spider-Man
tags    when a new villain threaten new york city, pet...
Name: 10000, dtype: object

In [75]:
import pickle
pickle.dump(new_df, open('artifacts/video_game_list.pkl', 'wb'))
pickle.dump(similarity, open('artifacts/similarity.pkl', 'wb'))

In [72]:
vgs.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [73]:
new_df['urls'] = vgs['url']

C:\Users\codyp\AppData\Local\Temp\ipykernel_9708\3271939165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['urls'] = vgs['url']

In [74]:
new_df

,name,tags,urls
0,Spider-Man,"when a new villain threaten new york city, pet...",https://www.imdb.com/title/tt5807780/?ref_=adv...
1,Red Dead Redemption II,amidst the declin of the wild west at the turn...,https://www.imdb.com/title/tt6161168/?ref_=adv...
2,Grand Theft Auto V,three veri differ crimin team up for a seri of...,https://www.imdb.com/title/tt2103188/?ref_=adv...
3,God of War,"after wipe out the god of mount olympus, krato...",https://www.imdb.com/title/tt5838588/?ref_=adv...
4,Uncharted 4: A Thief's End,thrown back into the danger underworld he'd tr...,https://www.imdb.com/title/tt3334704/?ref_=adv...
...,...,...,...
20798,"Enjoy Your Power, Enjoy Your Choice",add a plot thriller,https://www.imdb.com/title/tt3845606/?ref_=adv...
20799,RedSun2020,joseph get kidnap and it' the player' job to f...,https://www.imdb.com/title/tt0790739/?ref_=adv...
20800,Shutter,a tech support man who use a drone to investig...,https://www.imdb.com/title/tt5119948/?ref_=adv...
20801,The Music Machine,a young teenag girl and the ghost of a dead ma...,https://www.imdb.com/title/tt5142082/?ref_=adv...
20802,Cryptic,kidnap by an insan man and drag into a dark cr...,https://www.imdb.com/title/tt10964974/?ref_=ad...

In [76]:
new_df.iloc[0]['urls']

'https://www.imdb.com/title/tt5807780/?ref_=adv_li_tt'

In [77]:
new_df.duplicated().sum()

np.int64(645)

In [78]:
new_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
20798    False
20799    False
20800    False
20801    False
20802    False
Length: 20803, dtype: bool

In [84]:
video_games.duplicated.sum

AttributeError: 'function' object has no attribute 'sum'